.input_container {
  width: 100%;
  display: flex;
  border: 3px solid #aeaeae;
  border-radius: 5px;
  margin: 1rem 0 2rem;

  input,
  button {
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    outline: none;
  }
  input {
    flex: 1;
  }

  button {
    border-left: 3px solid #aeaeae;
    background-color: transparent;
  }
}
