.todo {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  a,
  button {
    padding: 1rem;
    border: none;
  }
  a {
    flex: 1;
  }

  button {
    cursor: pointer;
    background: none;
    border-left: 3px solid #777777;
  }
}
