.todo_item {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .title,
  button,
  .checkbox_container {
    padding: 1rem;
    border: none;
  }
  .title {
    flex: 1;
  }

  .checkbox_container {
    border-left: 3px solid #aeaeae;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    cursor: pointer;
    background: none;
    border-left: 3px solid #aeaeae;
  }
}
